Firmware/flows.json
[{"id":"8b85a07d.902f28","type":"tab","label":"BackupC","disabled":false,"info":""},{"id":"c55b73e3.6d695","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"11d37491.0cffb3","order":3,"width":"27","height":"1","passthru":false,"label":"Validate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"title\":\"<b>SW1</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>SW2</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>SW3</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>SW4</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>SW5</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"}]","payloadType":"json","topic":"","x":160,"y":500,"wires":[["a2e67ec4.fb2e8"]]},{"id":"16b713f8.234154","type":"ui_text_input","z":"8b85a07d.902f28","name":"","label":"Email Address","tooltip":"","group":"11d37491.0cffb3","order":2,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"","x":380,"y":260,"wires":[["d3a8141c.89143"]]},{"id":"d3a8141c.89143","type":"debug","z":"8b85a07d.902f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":80,"wires":[]},{"id":"bb629a1d.72b938","type":"ui_template","z":"8b85a07d.902f28","group":"11d37491.0cffb3","name":"","order":1,"width":"11","height":"8","format":"<html>\n    <div ng-bind-html=\"msg.payload\"></div>\n<head>\n    <style type=\"text/css\">\n\n #js {\n  animation: my-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes my-bar {\n  from {\n    transform: rotate(0deg);\n  }\n  to {\n    transform: rotate(360deg);\n  }\n}\n\n#git {\n  animation: git-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes git-bar {\n  from {\n    transform: rotate(0deg);\n  }\n  to {\n    transform: rotate(360deg);\n  }\n}\n\n#wordpress {\n  animation: wordpress-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes wordpress-bar {\n  from {\n    transform: rotate(85deg);\n  }\n  to {\n    transform: rotate(360deg);\n  }\n}\n#bootstrap {\n  animation: bootstrap-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes bootstrap-bar {\n  from {\n    transform: rotate(-200deg);\n  }\n  to {\n    transform: rotate(360deg);\n  }\n}\n#react {\n  animation: react-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes react-bar {\n  from {\n    transform: rotate(-45deg);\n  }\n  to {\n    transform: rotate(360deg);\n  }\n}\n#css {\n  animation: css-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes css-bar {\n  from {\n    transform: rotate(120deg);\n  }\n  to {\n    transform: rotate(-360deg);\n  }\n}\n#html {\n  animation: html-bar 13s linear infinite;\n  transform-origin: center;\n}\n\n@keyframes html-bar {\n  from {\n    transform: rotate(0deg);\n  }\n  to {\n    transform: rotate(-360deg);\n  }\n}\n    </style>\n    <script type=\"text/javascript\">\n\n\n    </script>\n</head>\n  <body>\n\n<svg\n                width=\"539\"\n                height=\"539\"\n                viewBox=\"0 0 539 539\"\n                fill=\"none\"\n                xmlns=\"http://www.w3.org/2000/svg\"\n              >\n                <circle\n                  id=\"bg\"\n                  cx=\"269.5\"\n                  cy=\"269.5\"\n                  r=\"253\"\n                  stroke=\"#F7DF1E\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"33\"\n                />\n                <g id=\"js\">\n                  <mask id=\"path-2-inside-1\" fill=\"white\">\n                    <path d=\"M522.676 269.5C531.692 269.5 539.052 262.183 538.506 253.184C534.535 187.66 506.747 125.616 460.065 78.9347C409.524 28.3937 340.976 5.39628e-06 269.5 0C198.024 -5.39628e-06 129.476 28.3937 78.9347 78.9347C32.253 125.616 4.46542 187.66 0.493896 253.184C-0.0515342 262.183 7.30831 269.5 16.3236 269.5V269.5C25.3388 269.5 32.5885 262.182 33.209 253.188C37.1319 196.33 61.4618 142.578 102.02 102.02C146.438 57.6012 206.683 32.6471 269.5 32.6471C332.317 32.6471 392.562 57.6012 436.98 102.02C477.538 142.578 501.868 196.33 505.791 253.188C506.411 262.182 513.661 269.5 522.676 269.5V269.5Z\" />\n                  </mask>\n                  <path\n                    d=\"M522.676 269.5C531.692 269.5 539.052 262.183 538.506 253.184C534.535 187.66 506.747 125.616 460.065 78.9347C409.524 28.3937 340.976 5.39628e-06 269.5 0C198.024 -5.39628e-06 129.476 28.3937 78.9347 78.9347C32.253 125.616 4.46542 187.66 0.493896 253.184C-0.0515342 262.183 7.30831 269.5 16.3236 269.5V269.5C25.3388 269.5 32.5885 262.182 33.209 253.188C37.1319 196.33 61.4618 142.578 102.02 102.02C146.438 57.6012 206.683 32.6471 269.5 32.6471C332.317 32.6471 392.562 57.6012 436.98 102.02C477.538 142.578 501.868 196.33 505.791 253.188C506.411 262.182 513.661 269.5 522.676 269.5V269.5Z\"\n                    stroke=\"#F7DF1E\"\n                    stroke-width=\"66\"\n                    mask=\"url(#path-2-inside-1)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_2\"\n                  cx=\"269.5\"\n                  cy=\"269.5\"\n                  r=\"215\"\n                  stroke=\"#E34F26\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"33\"\n                />\n                <g id=\"html\">\n                  <mask id=\"path-4-inside-2\" fill=\"white\">\n                    <path d=\"M484.649 269.5C493.679 269.5 501.06 262.17 500.423 253.162C497.591 213.126 484.387 174.412 461.985 140.885C436.548 102.816 400.392 73.1436 358.091 55.6219C315.79 38.1002 269.243 33.5157 224.337 42.4482C179.43 51.3807 138.181 73.4289 105.805 105.805C73.4289 138.181 51.3807 179.43 42.4482 224.337C33.5157 269.243 38.1002 315.79 55.6219 358.091C73.1436 400.392 102.816 436.548 140.885 461.985C174.412 484.387 213.126 497.591 253.162 500.423C262.17 501.06 269.5 493.679 269.5 484.649V484.649C269.5 475.618 262.166 468.367 253.166 467.625C219.606 464.859 187.201 453.601 159.054 434.794C126.362 412.95 100.882 381.902 85.8355 345.576C70.789 309.251 66.8521 269.279 74.5228 230.717C82.1934 192.154 101.127 156.732 128.929 128.929C156.732 101.127 192.154 82.1934 230.717 74.5228C269.279 66.8521 309.251 70.789 345.576 85.8355C381.902 100.882 412.95 126.362 434.794 159.054C453.601 187.201 464.859 219.606 467.625 253.166C468.367 262.166 475.618 269.5 484.649 269.5V269.5Z\" />\n                  </mask>\n                  <path\n                    d=\"M484.649 269.5C493.679 269.5 501.06 262.17 500.423 253.162C497.591 213.126 484.387 174.412 461.985 140.885C436.548 102.816 400.392 73.1436 358.091 55.6219C315.79 38.1002 269.243 33.5157 224.337 42.4482C179.43 51.3807 138.181 73.4289 105.805 105.805C73.4289 138.181 51.3807 179.43 42.4482 224.337C33.5157 269.243 38.1002 315.79 55.6219 358.091C73.1436 400.392 102.816 436.548 140.885 461.985C174.412 484.387 213.126 497.591 253.162 500.423C262.17 501.06 269.5 493.679 269.5 484.649V484.649C269.5 475.618 262.166 468.367 253.166 467.625C219.606 464.859 187.201 453.601 159.054 434.794C126.362 412.95 100.882 381.902 85.8355 345.576C70.789 309.251 66.8521 269.279 74.5228 230.717C82.1934 192.154 101.127 156.732 128.929 128.929C156.732 101.127 192.154 82.1934 230.717 74.5228C269.279 66.8521 309.251 70.789 345.576 85.8355C381.902 100.882 412.95 126.362 434.794 159.054C453.601 187.201 464.859 219.606 467.625 253.166C468.367 262.166 475.618 269.5 484.649 269.5V269.5Z\"\n                    stroke=\"#E34F26\"\n                    stroke-width=\"66\"\n                    mask=\"url(#path-4-inside-2)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_3\"\n                  cx=\"269.5\"\n                  cy=\"269.5\"\n                  r=\"177\"\n                  stroke=\"#264DE4\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"33\"\n                />\n                <g id=\"css\">\n                  <mask id=\"path-6-inside-3\" fill=\"white\">\n                    <path d=\"M446.645 269.5C455.678 269.5 463.072 262.164 462.309 253.164C460.206 228.345 453.327 204.112 441.993 181.817C428.184 154.652 408.155 131.132 383.535 113.172C358.915 95.2133 330.402 83.3229 300.317 78.4697C270.232 73.6164 239.426 75.9375 210.408 85.2438C181.389 94.5502 154.98 110.579 133.329 132.024C111.678 153.469 95.3983 179.725 85.8157 208.653C76.2331 237.581 73.6184 268.364 78.1845 298.494C81.932 323.221 90.4292 346.936 103.153 368.348C107.767 376.113 118.049 377.78 125.397 372.527V372.527C132.745 367.273 134.361 357.093 129.881 349.25C120.079 332.089 113.501 313.225 110.525 293.592C106.731 268.556 108.904 242.977 116.867 218.939C124.829 194.901 138.357 173.084 156.348 155.264C174.339 137.444 196.284 124.125 220.397 116.391C244.51 108.658 270.108 106.73 295.107 110.762C320.107 114.795 343.8 124.676 364.258 139.599C384.716 154.522 401.36 174.066 412.834 196.64C421.832 214.341 427.452 233.512 429.459 253.173C430.376 262.159 437.612 269.5 446.645 269.5V269.5Z\" />\n                  </mask>\n                  <path\n                    d=\"M446.645 269.5C455.678 269.5 463.072 262.164 462.309 253.164C460.206 228.345 453.327 204.112 441.993 181.817C428.184 154.652 408.155 131.132 383.535 113.172C358.915 95.2133 330.402 83.3229 300.317 78.4697C270.232 73.6164 239.426 75.9375 210.408 85.2438C181.389 94.5502 154.98 110.579 133.329 132.024C111.678 153.469 95.3983 179.725 85.8157 208.653C76.2331 237.581 73.6184 268.364 78.1845 298.494C81.932 323.221 90.4292 346.936 103.153 368.348C107.767 376.113 118.049 377.78 125.397 372.527V372.527C132.745 367.273 134.361 357.093 129.881 349.25C120.079 332.089 113.501 313.225 110.525 293.592C106.731 268.556 108.904 242.977 116.867 218.939C124.829 194.901 138.357 173.084 156.348 155.264C174.339 137.444 196.284 124.125 220.397 116.391C244.51 108.658 270.108 106.73 295.107 110.762C320.107 114.795 343.8 124.676 364.258 139.599C384.716 154.522 401.36 174.066 412.834 196.64C421.832 214.341 427.452 233.512 429.459 253.173C430.376 262.159 437.612 269.5 446.645 269.5V269.5Z\"\n                    stroke=\"#264DE4\"\n                    stroke-width=\"66\"\n                    mask=\"url(#path-6-inside-3)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_4\"\n                  cx=\"269.5\"\n                  cy=\"269.5\"\n                  r=\"138\"\n                  stroke=\"#1AD5DE\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"33\"\n                />\n                <g id=\"react\">\n                  <mask id=\"path-8-inside-4\" fill=\"white\">\n                    <path d=\"M407.613 269.5C416.663 269.5 424.09 262.142 423.132 253.143C419.584 219.813 405.265 188.373 382.115 163.726C355.208 135.079 318.396 117.763 279.171 115.303C239.946 112.843 201.258 125.424 170.983 150.485C144.935 172.046 126.8 201.451 119.115 234.076C117.041 242.885 123.49 251.113 132.469 252.244V252.244C141.448 253.374 149.535 246.965 151.861 238.219C158.337 213.863 172.26 191.972 191.881 175.731C215.734 155.986 246.215 146.074 277.119 148.012C308.024 149.95 337.028 163.593 358.227 186.163C375.665 204.729 386.744 228.188 390.126 253.162C391.34 262.13 398.563 269.5 407.613 269.5V269.5Z\" />\n                  </mask>\n                  <path\n                    d=\"M407.613 269.5C416.663 269.5 424.09 262.142 423.132 253.143C419.584 219.813 405.265 188.373 382.115 163.726C355.208 135.079 318.396 117.763 279.171 115.303C239.946 112.843 201.258 125.424 170.983 150.485C144.935 172.046 126.8 201.451 119.115 234.076C117.041 242.885 123.49 251.113 132.469 252.244V252.244C141.448 253.374 149.535 246.965 151.861 238.219C158.337 213.863 172.26 191.972 191.881 175.731C215.734 155.986 246.215 146.074 277.119 148.012C308.024 149.95 337.028 163.593 358.227 186.163C375.665 204.729 386.744 228.188 390.126 253.162C391.34 262.13 398.563 269.5 407.613 269.5V269.5Z\"\n                    stroke=\"#1AD5DE\"\n                    stroke-width=\"66\"\n                    mask=\"url(#path-8-inside-4)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_5\"\n                  cx=\"269.5\"\n                  cy=\"269.5\"\n                  r=\"100\"\n                  stroke=\"#FC6D26\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"33\"\n                />\n                <g id=\"git\">\n                  <mask id=\"path-10-inside-5\" fill=\"white\">\n                    <path d=\"M369.636 269.5C378.674 269.5 386.118 262.138 384.853 253.19C383.149 241.144 379.565 229.404 374.2 218.41C366.435 202.498 355.146 188.565 341.19 177.67C327.234 166.775 310.978 159.204 293.658 155.532C276.337 151.861 258.407 152.186 241.231 156.482C224.055 160.778 208.084 168.933 194.532 180.326C180.979 191.72 170.202 206.052 163.019 222.235C155.835 238.418 152.435 256.025 153.076 273.719C153.519 285.944 155.884 297.988 160.052 309.418C163.149 317.908 173.182 320.899 181.156 316.644V316.644C189.129 312.389 191.969 302.492 189.343 293.844C187.248 286.946 186.045 279.784 185.783 272.534C185.322 259.81 187.767 247.15 192.932 235.513C198.097 223.876 205.847 213.57 215.592 205.377C225.337 197.184 236.822 191.321 249.173 188.231C261.524 185.142 274.416 184.908 286.871 187.548C299.326 190.188 311.015 195.633 321.051 203.467C331.086 211.302 339.204 221.321 344.787 232.762C347.969 239.283 350.28 246.167 351.679 253.24C353.433 262.106 360.599 269.5 369.636 269.5V269.5Z\" />\n                  </mask>\n                  <path\n                    d=\"M369.636 269.5C378.674 269.5 386.118 262.138 384.853 253.19C383.149 241.144 379.565 229.404 374.2 218.41C366.435 202.498 355.146 188.565 341.19 177.67C327.234 166.775 310.978 159.204 293.658 155.532C276.337 151.861 258.407 152.186 241.231 156.482C224.055 160.778 208.084 168.933 194.532 180.326C180.979 191.72 170.202 206.052 163.019 222.235C155.835 238.418 152.435 256.025 153.076 273.719C153.519 285.944 155.884 297.988 160.052 309.418C163.149 317.908 173.182 320.899 181.156 316.644V316.644C189.129 312.389 191.969 302.492 189.343 293.844C187.248 286.946 186.045 279.784 185.783 272.534C185.322 259.81 187.767 247.15 192.932 235.513C198.097 223.876 205.847 213.57 215.592 205.377C225.337 197.184 236.822 191.321 249.173 188.231C261.524 185.142 274.416 184.908 286.871 187.548C299.326 190.188 311.015 195.633 321.051 203.467C331.086 211.302 339.204 221.321 344.787 232.762C347.969 239.283 350.28 246.167 351.679 253.24C353.433 262.106 360.599 269.5 369.636 269.5V269.5Z\"\n                    stroke=\"#FC6D26\"\n                    stroke-width=\"66\"\n                    mask=\"url(#path-10-inside-5)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_6\"\n                  cx=\"269\"\n                  cy=\"269\"\n                  r=\"62.5\"\n                  stroke=\"#080135\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"29\"\n                />\n                <g id=\"bootstrap\">\n                  <mask id=\"path-12-inside-6\" fill=\"white\">\n                    <path d=\"M331.29 269C339.414 269 346.142 262.355 344.599 254.379C341.954 240.7 335.625 227.897 326.168 217.417C313.402 203.269 295.843 194.357 276.888 192.405C257.932 190.453 238.925 195.599 223.544 206.849C208.163 218.098 197.499 234.652 193.616 253.308C189.732 271.964 192.905 291.398 202.519 307.85C212.134 324.303 227.508 336.606 245.668 342.38C263.829 348.154 283.485 346.989 300.836 339.11C313.689 333.274 324.601 324.061 332.485 312.573C337.083 305.875 333.565 297.098 326.116 293.856V293.856C318.667 290.614 310.137 294.251 304.783 300.36C300.36 305.407 294.883 309.503 288.672 312.323C277.951 317.192 265.804 317.911 254.583 314.343C243.361 310.775 233.861 303.173 227.92 293.007C221.979 282.84 220.019 270.832 222.418 259.303C224.818 247.775 231.407 237.547 240.912 230.595C250.416 223.644 262.161 220.464 273.874 221.67C285.587 222.876 296.437 228.383 304.326 237.125C308.895 242.19 312.283 248.131 314.324 254.523C316.796 262.262 323.166 269 331.29 269V269Z\" />\n                  </mask>\n                  <path\n                    d=\"M331.29 269C339.414 269 346.142 262.355 344.599 254.379C341.954 240.7 335.625 227.897 326.168 217.417C313.402 203.269 295.843 194.357 276.888 192.405C257.932 190.453 238.925 195.599 223.544 206.849C208.163 218.098 197.499 234.652 193.616 253.308C189.732 271.964 192.905 291.398 202.519 307.85C212.134 324.303 227.508 336.606 245.668 342.38C263.829 348.154 283.485 346.989 300.836 339.11C313.689 333.274 324.601 324.061 332.485 312.573C337.083 305.875 333.565 297.098 326.116 293.856V293.856C318.667 290.614 310.137 294.251 304.783 300.36C300.36 305.407 294.883 309.503 288.672 312.323C277.951 317.192 265.804 317.911 254.583 314.343C243.361 310.775 233.861 303.173 227.92 293.007C221.979 282.84 220.019 270.832 222.418 259.303C224.818 247.775 231.407 237.547 240.912 230.595C250.416 223.644 262.161 220.464 273.874 221.67C285.587 222.876 296.437 228.383 304.326 237.125C308.895 242.19 312.283 248.131 314.324 254.523C316.796 262.262 323.166 269 331.29 269V269Z\"\n                    stroke=\"#602C50\"\n                    stroke-width=\"58\"\n                    mask=\"url(#path-12-inside-6)\"\n                  />\n                </g>\n                <circle\n                  id=\"bg_7\"\n                  cx=\"269\"\n                  cy=\"269\"\n                  r=\"33\"\n                  stroke=\"#21759B\"\n                  stroke-opacity=\"0.17\"\n                  stroke-width=\"20\"\n                />\n                <g id=\"wordpress\">\n                  <mask id=\"path-14-inside-7\" fill=\"white\">\n                    <path d=\"M302.306 269C307.66 269 312.109 273.394 310.912 278.612C310.249 281.502 309.288 284.323 308.038 287.03C305.427 292.682 301.62 297.7 296.881 301.736C292.141 305.773 286.581 308.733 280.585 310.41C274.59 312.087 268.301 312.443 262.155 311.452C256.008 310.461 250.15 308.147 244.986 304.67C239.821 301.193 235.473 296.636 232.243 291.314C229.012 285.992 226.975 280.032 226.274 273.845C225.938 270.883 225.912 267.902 226.191 264.951C226.695 259.621 232.3 256.848 237.382 258.531V258.531C242.465 260.214 245 265.81 245.486 271.142C245.502 271.315 245.519 271.488 245.539 271.661C245.924 275.058 247.042 278.33 248.816 281.253C250.59 284.175 252.978 286.677 255.814 288.586C258.65 290.496 261.866 291.766 265.241 292.31C268.616 292.855 272.069 292.659 275.362 291.738C278.654 290.817 281.707 289.192 284.309 286.976C286.912 284.759 289.002 282.004 290.436 278.9C290.509 278.742 290.58 278.584 290.649 278.424C292.786 273.515 296.952 269 302.306 269V269Z\" />\n                  </mask>\n                  <path\n                    d=\"M302.306 269C307.66 269 312.109 273.394 310.912 278.612C310.249 281.502 309.288 284.323 308.038 287.03C305.427 292.682 301.62 297.7 296.881 301.736C292.141 305.773 286.581 308.733 280.585 310.41C274.59 312.087 268.301 312.443 262.155 311.452C256.008 310.461 250.15 308.147 244.986 304.67C239.821 301.193 235.473 296.636 232.243 291.314C229.012 285.992 226.975 280.032 226.274 273.845C225.938 270.883 225.912 267.902 226.191 264.951C226.695 259.621 232.3 256.848 237.382 258.531V258.531C242.465 260.214 245 265.81 245.486 271.142C245.502 271.315 245.519 271.488 245.539 271.661C245.924 275.058 247.042 278.33 248.816 281.253C250.59 284.175 252.978 286.677 255.814 288.586C258.65 290.496 261.866 291.766 265.241 292.31C268.616 292.855 272.069 292.659 275.362 291.738C278.654 290.817 281.707 289.192 284.309 286.976C286.912 284.759 289.002 282.004 290.436 278.9C290.509 278.742 290.58 278.584 290.649 278.424C292.786 273.515 296.952 269 302.306 269V269Z\"\n                    stroke=\"#21759B\"\n                    stroke-width=\"40\"\n                    mask=\"url(#path-14-inside-7)\"\n                  />\n                </g>\n              </svg>\n</body>\n  </html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":360,"wires":[[]]},{"id":"a2e67ec4.fb2e8","type":"ui_list","z":"8b85a07d.902f28","group":"366b12f6.486f86","name":"","order":0,"width":0,"height":0,"lineType":"two","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":730,"y":520,"wires":[[]]},{"id":"e2979144.18a0c","type":"ui_ui_control","z":"8b85a07d.902f28","name":"","events":"all","x":1100,"y":400,"wires":[[]]},{"id":"d93c81a1.57ea4","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"11d37491.0cffb3","order":3,"width":"27","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Home","payloadType":"str","topic":"Home","x":910,"y":380,"wires":[["e2979144.18a0c"]]},{"id":"4eeebf79.a8969","type":"mqtt in","z":"8b85a07d.902f28","name":"","topic":"backupcomputer/fileslist","qos":"0","datatype":"auto","broker":"3dc48168.efecce","x":270,"y":620,"wires":[["540b46af.0959b"]]},{"id":"7cb84e09.ae744","type":"debug","z":"8b85a07d.902f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":640,"wires":[]},{"id":"540b46af.0959b","type":"json","z":"8b85a07d.902f28","name":"","property":"payload","action":"obj","pretty":false,"x":520,"y":620,"wires":[["a2e67ec4.fb2e8","7cb84e09.ae744"]]},{"id":"780709f4.c6b018","type":"inject","z":"8b85a07d.902f28","name":"USBFiles","topic":"","payload":"[{\"title\":\"<b>A.txt</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>Picture1.jpeg</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>Document.docx</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>Sheet.xls</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"},{\"title\":\"<b>Movie.mp4</b>\",\"description\":\"Count <font color=\\\"green\\\"><b>{{msg.payload}}</b></b>.\",\"icon\":\"https://w7.pngwing.com/pngs/1017/450/png-transparent-white-gear-illustration-wheel-brand-hardware-accessory-systempreferences-presentation-wikimedia-commons-button-ui-system-apps.png\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":720,"wires":[["7cb84e09.ae744"]]},{"id":"26ba7f32.cb5d6","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"366b12f6.486f86","order":1,"width":"5","height":"1","passthru":false,"label":"Print","tooltip":"","color":"","bgcolor":"","icon":"https://cdn3.iconfinder.com/data/icons/network-communication-vol-1-2/48/11-512.png","payload":"","payloadType":"str","topic":"","x":630,"y":440,"wires":[[]]},{"id":"a3a45395.7d987","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"366b12f6.486f86","order":2,"width":"5","height":"1","passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"https://icons-for-free.com/iconfiles/png/512/media+multimedia+office+scan+scanner+scanning+icon-1320161821379351021.png","payload":"","payloadType":"str","topic":"","x":640,"y":400,"wires":[[]]},{"id":"6df4113.75215f","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"366b12f6.486f86","order":1,"width":"5","height":"1","passthru":false,"label":"Backup","tooltip":"","color":"","bgcolor":"","icon":"https://cdn3.iconfinder.com/data/icons/file-and-folder-5/512/799-38-512.png","payload":"","payloadType":"str","topic":"","x":660,"y":360,"wires":[[]]},{"id":"375ddec2.bf79ba","type":"ui_button","z":"8b85a07d.902f28","name":"","group":"366b12f6.486f86","order":4,"width":"5","height":"1","passthru":false,"label":"Restore","tooltip":"","color":"","bgcolor":"","icon":"https://cdn0.iconfinder.com/data/icons/mobile-development-icons/256/Restore.png","payload":"","payloadType":"str","topic":"","x":800,"y":320,"wires":[[]]},{"id":"11d37491.0cffb3","type":"ui_group","z":"","name":"Dashboard","tab":"7bbfac62.85a29c","order":1,"disp":true,"width":"27","collapse":false},{"id":"366b12f6.486f86","type":"ui_group","z":"","name":"Home Board","tab":"8ed67c4.bb7428","order":1,"disp":true,"width":"27","collapse":false},{"id":"3dc48168.efecce","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7bbfac62.85a29c","type":"ui_tab","z":"","name":"BackupComputer","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8ed67c4.bb7428","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
